<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(()=>{
		$('.remove-source').click((e)=>{
			let currentTarget = $(e.currentTarget).attr('data-value');
			$.ajax({
				url:"/sources/"+currentTarget,
				method:'DELETE'
			})
			.then((data)=>{
				location.reload();
			})
			.catch((error)=>{
				alert(error.message);
			});
		});
	});
</script>
<div>
	<h1>Sources</h1>
	<a href="/dashboard">Return dashboard</a>
	<a href="/dashboard/sources/new">Create new source</a>
	<table>
		<thead>
			<th>
				ID
			</th>
			<th>
				Name
			</th>
			<th>
				Language
			</th>
			<th>
				Country
			</th>
			<th>
				Options
			</th>
		</thead>
	<tbody>
		<% for(let i = 0; i<sources.length; i++){ %>
			<tr>
				<td><%= sources[i]._id %></td>
				<td><%= sources[i].name %></td>
				<td><%= sources[i].language %></td>
				<td><%= sources[i].country %></td>	
				<td>
					<button class="remove-source" data-value="<%=sources[i]._id%>">Remove</button>
				</td>
			</tr>
		<% } %>
	</tbody>
	</table>
</div>